@import url('https://fonts.googleapis.com/css2?family=FontName&display=swap');

.header-block {
    background-color: #2d2d2d;
    padding: 15px 25px;

    &-top {
        display: flex;
        justify-content: space-between;

        &-item {
            display: flex;
            align-items: center;
            gap: 25px;

            img {
                width: 170px;
                height: auto;
            }

            p {
                color: #fff;
                font-family: 'Montserrat';
                font-size: 20px;
            }
        }

        &-clockandlocal {
            display: flex;
            align-items: center;
            gap: 25px;

            .clock {
                display: flex;
                align-items: center;
                gap: 7px;

                p {
                    color: #fff;
                    font-family: 'Montserrat';
                }
            }

            .local {
                display: flex;
                align-items: center;
                gap: 7px;

                p {
                    color: #fff;
                    font-family: 'Montserrat';
                }
            }
        }

        &-icon {
            display: flex;
            align-items: center;
            gap: 25px;

            .grey-btn {
                border: 1px solid #FFBF1D;
                background: transparent;
                width: 170px;
                padding: 15px 10px;
                color: #fff;
                font-size: px;
            }

            .tel {
                display: flex;
                align-items: center;
                gap: 9px;

                img {
                    width: 15px;
                    height: 15px;
                }

                p {
                    color: #fff;
                    font-family: 'Montserrat';
                    font-size: 12px;
                }
            }
        }
    }
}
@media only screen and (max-width:768px){
    .header-block{
        &-top{
            &-clockandlocal{
                display: none;
            }
            &-icon{
                .btn{
                    display: none;
                }
            }
        }   
    }
}
@media only screen and (max-width:320px){
    .header-block{
        &-top{
            height: 200px;
            position: relative;
            flex-direction: column;
            gap: 25px;
            align-items: center;
            &-icon{
                .tel{
                    position: absolute;
                    top: 120px;
                    left: 14%;
                }
            }
        }
    }
}