* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li,
ul,
ol {
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.liberher {
    background-image: url(/image/Надпись\ Liebherr.png );
    background-repeat: no-repeat;
    width: 665px;
    height: 220px;
}

.header-left {
    margin-left: 23vh;

    .text {
        font-family: "PT Sans", sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 56.68px;
        text-align: left;
    }

}

.container {
    width: 1176px;
    margin: auto;
    margin-top: -200px;

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #fff;
        margin-top: 55px;
    }

    .item {
        text-align: center;
        width: 30%;
        height: 408px;


        .ptext1 {
            width: 369px;
            height: 55px;
            background: #FCB427;
            color: #fff;
            align-items: center;
            font-size: 20px;
        }

        .ptext2 {
            width: 369px;
            height: 55px;
            background: #FCB427;
            color: #fff;
            align-items: center;
            font-size: 22px;
        }

        .ptext3 {
            width: 369px;
            height: 55px;
            background: #FCB427;
            color: #fff;
            align-items: center;
            font-size: 20px;
        }
    }

    .item img {
        width: 105%;
        height: auto;
        border-radius: 8px;
    }


    .center-text {
        width: 1190px;
        height: 1034px;
        top: 7567px;
        left: 215px;
        gap: 0px;
        opacity: 0px;

        .centertext1 {
            margin-top: 25px;

            .text1 {
                font-family: "PT Sans", sans-serif;
                font-size: 40px;
                font-weight: 700;
                line-height: 56.68px;
                text-align: left;
                margin-top: 35vh;
                margin-bottom: 55px;
            }

            .text2 {

                width: 1190px;
                height: 75px;
                font-size: 16px;
                font-weight: 400;
                line-height: 25.07px;
                text-align: left;

            }
        }

        .centertext2 {

            .text3 {
                font-family: "PT Sans", sans-serif;
                font-size: 40px;
                font-weight: 700;
                line-height: 56.68px;
                text-align: left;
                margin-bottom: 35px;
            }

            .text4 {
                font-size: 16px;
                font-weight: 400;
                line-height: 25.07px;
                text-align: left;

            }

            .text4 {
                margin-bottom: 15px;
            }

            ul {
                padding: 0 35px;
                padding-left: 25px;
                list-style-type: none;
                margin-left: 11px;
                margin-top: 15px;
            }

            .small-text {
                padding: 15px;
            }

            li {
                padding: 8px;
                position: relative;
            }

            li::before {
                content: "";
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: #FCB427;
                ;
                position: absolute;
                left: -25px;
                top: 18px;
            }


        }
    }




}

//  @media (max-width:1024px) { 
//     .header-left{
//         margin-left: 3vh;
//     }
//     .liberher{
//         display: none;
//     }
//         .container{
//             width: 824px;
//             margin: auto;
//             margin-top: 3vh;
//             .content{
//                 width: 739px;
//                 height: 866px;
//                 .item{
//                     padding:0 20px ;
//                     width: 353px;
//                     height: 408px;                     
//                 }
//             }
//         }
//     }

// @media (max-width: 768px) {
//     .content {
//         flex-direction: column;
//         align-items: center;
//     }

//     .item {
//         flex: 1 1 80%;
//         margin: 10px 0;
//     }

//     .item img {
//         width: 80%;
//     }

//     .item p {
//         font-size: 1.2em;
//     }
// }

@media (max-width: 778px) {

    .header-left {
        .text {
            margin-bottom: 32vh;
        }
    }

    .liberher {
        display: none;
    }


    .content {
        display: flex;
        flex-wrap: wrap;
        margin-left: 55px;
        padding: 0 15vh;
    

        display: flex;
        justify-content: center;
        align-items: center;
        .item {
            width: 354px;
            height: 408px;
            margin: 10px 0;
            text-align: center;
            img {
                width: 354px;
                height: auto;
            }

            p {
                margin-top: 10px;
                font-size: 1.2em;
            }
        }
    }


}