@import './header';
@import './header-bottom';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
a {
    text-decoration: none;
}

li,
ul,
ol {
    list-style: none;
}

.container {
    width: 88%;
    margin: 0 auto;
}