@font-face {
    font-family: PT Sans;
    src: url(../fonts/PTSans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li,
ul,
ol {
    list-style: none;
}

.container {
    width: 1176px;
    margin: 0 auto;
}

.sec11 {
    &-wrapper {
        background-color: #2D2D2D;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-title {
        font-family: PT Sans;
        font-size: 33px;
        font-weight: 700;
        line-height: 46.92px;
        text-align: left;

    }
}